<div class="dragArea" remove="removeById">
    <div class="panel panel-primary dropArea" on-drop="addToList">
        <div class="panel-heading"><input class="hidden-input" ng-model="model[getListNameProperty()]" /></div>
        <div class="list-group-item dropArea draggable" on-drop="createAddBefore(item[getIdProperty()])" ng-repeat="(index, item) in getList() track by item[getIdProperty()]" ng-if="index != getListNameProperty()">
            <list-item ng-model="item" display-property="{{getDisplayProperty()}}"></list-item>
        </div>
    </div>
</div>